.main-header {
  text-align: center;
}

.selection-content {
  display: flex;
  flex-direction: column;
}

.selection-content a button {
  width: 100%;
}

.btn {
  height: 35px;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
}

.btn:hover {
  background-color: blue;
  color: white;
  cursor: pointer;
}

.biru {
  background-color: blue;
}

.main-content {
  text-align: center;
}

.main-content .img {
  background-position: center;
  align-self: center;
}

.img-jg {
  margin-top: 2rem;
}

.header-Lsegitiga {
  padding-top: 32px;
  padding-bottom: 32px;
  margin: 0px;
  background: cornflowerblue;
  text-align: center;
}

.header-Lsegitiga h1 {
  color: white;
}

.content-selection {
  margin-top: 1rem;
}

.content-selection button {
  background-color: black;
  color: wheat;
  border: none;
  padding: 10px;
  border-radius: 16px;
  margin: 10px;
  width: 5rem;
}

.content-selection button:hover {
  cursor: pointer;
  background-color: lightblue;
  color: black;
}

.luas-segitiga-content {
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
}

.luas-segitiga-content b {
  align-items: center;
}

.luas-segitiga-content p {
  text-align: start;
  margin-top: 2rem;
}

.hero-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 2rem;
}

.hero-form input {
  height: 2rem;
}

.btn-form {
  display: flex;
}

.btn-submit {
  padding: 1rem;
  border-radius: 16px;
  background-color: rgb(50, 50, 139);
  color: white;
  margin-top: 20px;
  cursor: pointer;
}

.btn-submit:hover {
  padding: 1.15rem;
}
.btn-reset:hover {
  padding: 1.15rem;
}

.btn-reset {
  padding: 1rem;
  border-radius: 16px;
  background-color: rgb(172, 16, 24);
  color: white;
  margin-top: 20px;
  position: absolute;
  right: 0px;
  cursor: pointer;
}

.hidden {
  display: none;
}

@media only screen and (max-width: 768px) {
  .img img {
    height: 100%;
    width: 100%;
  }
}
